#im1{
    border-radius: 50%;
    width: 115px;

}

.a0{
    text-decoration: none;
    color: blue;
    }
.a1{
    text-decoration: none;
    color: red;
    }
.a2{
    text-decoration: none;
    color: brown;
    }